{% extends "base.html" %}
{% block content %}

<dir class="row">
    <dir class="col">
        <dir class="card card-body">
            <form method="get">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </dir>
    </dir>
</dir>

<table class="table">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Name</th>
        <th scope="col">Notes</th>
        <th scope="col">Amount</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody>
      {% for d in data %}
        <tr>
          <th scope="row">{{ d.id }}</th>
          <td>{{ d.user.username.capitalize }}</td>
          <td>{{ d.description }}</td>
          <td>{{ d.amount }}</td>
          <td>{{ d.category }}</td>
        </tr>
      {% endfor %}
      
    </tbody>
  </table>

{% endblock %}