{% extends "base.html" %}
{% block content %}

<div class="container py-5 h-100 col-lg-8 col-xl-6 card-body p-4 p-md-5">
    <form class="px-md-2">
        <div class="form-outline mb-4">
        <label for="exampleInputUsername" class="form-label">Username</label>
        <input type="username" class="form-control" id="usernamereg">
        <div id="usernameHelp" class="form-text">Write your username.</div>
        </div>
        <div class="form-outline mb-4">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="passwordreg1">
        <div id="passwordHelp" class="form-text">Write your password.</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

{% endblock %}